<html>
<head>
    <style>
    .tweet-item {
        border: 1px solid red; width: 400px; height: 200px;
    }

    .left-part { width: 100px; background: green; float: left;}
    .right-part { width: 300px; background: orange; float: left;}

    .left-part img { margin-top: 20px; height: 50px; width: 20px; margin-left: 10px; }
    </style>
</head>
<body>

<div class="tweet-item">
    <div class="left-part"><img src="https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_bigger.jpg"></div>
    <div class="right-part"> Some content</div>

</div>

<div class="tweet-item">
    <a href="#">Donald Trump</a>
        <div style="padding-top: 10px; border: 1px solid green;" >
        Tweet body lorem ipsum;
        </div>
    </div>
    
</body>
</html>