body {
  padding: 10 150px ;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.tweet-item {
  border: 1px solid #01060a;
  width: 600px; height: 200px; margin-left: 58px;
          
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: bold;       
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 6px 16px;       
  margin:15 auto;
}
.left-part { 
  width: 80px;
  border: 1px; 
  float: left;
  height: 200px;
}
.left-part img { 
  width: 60px; 
  height: 60px; 
  border-radius: 50%; 
  float: left; 
  margin-top: 10px; 
  margin-left: 5px; 
}    
.input-data{
  margin:10 auto;
  width:600px;
}
.inputName{
  width: 446px;  
}
button{
  width: 150px;
}
.right-part { 
  width: 400px; 
  background: orange; 
  float: right;        
}
.right-part a {
  word-break: break-all;
  color: #14171a; 
  font-size: 16px; 
  font-weight: bold;
  line-height: 20px;
  cursor: pointer;
}
.screen-name {
  color: #657786;
}
.created-at {
  font-family:sans-serif;
  font-size: 12px; 
  color: #657786;       
}
.retweet{
  margin-left: 20px;
}
.like{
  margin-left: 40px;
}
.tweet-text {
  font-family: arial,sans-serif;   
}